@inject IDialogService Dialog

@* <MudCard>
    <div class="relative">
        <MudCardMedia Image="@ImageSrc" Height="@Height" Style="background-position: 0 30%;" />
        <MudButton Style="position:absolute; right:10px; top:50%">TEST</MudButton>
    </div>
    <MudCardContent>
        <MudText Typo="Typo.h5">Old Paint</MudText>
        <MudText Typo="Typo.body2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </MudText>
        <MudText Typo="Typo.body2">This photo was taken in a small village in Istra Croatia.</MudText>
    </MudCardContent>
    <MudCardActions>
        <MudButton Variant="Variant.Text" Color="MudBlazor.Color.Primary">Share</MudButton>
        <MudButton Variant="Variant.Text" Color="MudBlazor.Color.Primary">Learn More</MudButton>
    </MudCardActions>
</MudCard> *@

<MudPaper Height="600px" Elevation="10" Outlined="true" Class="relative">
    <div class="banner-image @(isLightCone?"lc":"")" style="background-image: url(@ImageSrc);"></div>
    <MudPaper Class="banner-info banner-name pa-2">
        <div class="d-flex flex-column">
        <MudText Typo="Typo.h6">Banner</MudText>
        <MudText Typo="Typo.subtitle2">Earthly Escapade</MudText>
        </div>
        <MudSpacer/>
        <MudIconButton Icon="@Icons.Material.Filled.MenuOpen" aria-label="history" OnClick="OpenHistory"></MudIconButton>
    </MudPaper>

    <MudGrid Class="hueta" Spacing="5" Justify="Justify.SpaceAround">
        <MudItem Class="banner-pity" xs="4" sm="4" md="4" lg="4">
            <div class="d-flex leg">
            <MudText Typo="Typo.h4">✔</MudText>
            <MudSpacer/>
            <MudText Typo="Typo.h4">0</MudText>
            <MudText Typo="Typo.subtitle2">/90</MudText>
        </div>
        </MudItem>
        <MudItem Class="banner-pity" xs="4" sm="4" md="4" lg="4">
            <div class="d-flex epic">
            <MudText Typo="Typo.h4">x</MudText>
            <MudSpacer/>
            <MudText Typo="Typo.h4">0</MudText>
            <MudText Typo="Typo.subtitle2">/10</MudText>
        </div>
        </MudItem>
        <MudItem Class="banner-pity" xs="5" sm="5" md="5" lg="5">
            <div class="d-flex">

            <MudText Typo="Typo.body1">Winrate</MudText>
            <MudSpacer/>
            <MudText Class="leg" Typo="Typo.body1">58%</MudText>
            </div>
            <div class="d-flex">
            <MudText Typo="Typo.body1">Медианна</MudText>
            <MudSpacer/>
            <MudText Class="leg" Typo="Typo.body1">77</MudText>
            </div>
        </MudItem>
        <MudItem Class="banner-pity" xs="5" sm="5" md="5" lg="5">
            <div class="d-flex">

            <MudText Typo="Typo.body1">Winrate</MudText>
            <MudSpacer/>
            <MudText Class="epic" Typo="Typo.body1">58%</MudText>
            </div>
            <div class="d-flex">
            <MudText Typo="Typo.body1">Медианна</MudText>
            <MudSpacer/>
            <MudText Class="epic" Typo="Typo.body1">7</MudText>
            </div>
        </MudItem>
    </MudGrid>


    @* <MudPaper Class="banner-info banner-pity pa-4">
        <div class="d-flex">
            <MudText Typo="Typo.h4">✔</MudText>
            <MudSpacer/>
            <MudText Typo="Typo.h4">0</MudText>
            <MudText Typo="Typo.subtitle2">/90</MudText>
        </div>
        <MudDivider/>
        <div class="d-flex">
            <MudText Typo="Typo.h4">X</MudText>
            <MudSpacer/>
            <MudText Typo="Typo.h4">0</MudText>
            <MudText Typo="Typo.subtitle2">/10</MudText>
        </div>
        
    </MudPaper> *@

    @* <MudChip Variant="Variant.Text" Color="MudBlazor.Color.Primary" Class="banner-info">0/90</MudChip> *@
</MudPaper>

<style>
    .banner-image {
        width: 100%; /* Ширина контейнера */
        height: 100%; /* Высота контейнера */
        @* background-image: url(@ImageSrc); /* Путь к вашему изображению */ *@
        filter: brightness(0.75);
        background-size: cover; /* Масштабирует изображение так, чтобы оно полностью покрывало фоновую область */
        background-position: center; /* Центрирует изображение в контейнере */
        background-repeat: no-repeat; /* Запрещает повторение изображения */
    }
    .lc {
        background-size: cover; /* Масштабирует изображение так, чтобы оно полностью покрывало фоновую область */
        @* background-position: 50% 35%; /* Центрирует изображение в контейнере */
        background-repeat: no-repeat; /* Запрещает повторение изображения */ *@
    }

    .banner-name{
        width:100%;
        display:flex;
        top:0;
        left:0;
    }
    .banner-pity{
        background-color: rgba(10,10,10,0.85);
        border-radius: 2rem;
        box-shadow: 0 15px 25px -10px rgba(0, 0, 0, 0.85);
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .leg{
        text-shadow: 1px 1px 5px var(--mud-palette-primary);
        color: var(--mud-palette-primary);
    }
    .epic{
        text-shadow: 1px 1px 5px rgb(176, 135, 255);
        color: rgb(176, 135, 255);
    }

    .banner-info{
        position:absolute;
        background-color: rgba(10,10,10,0.85);
        box-shadow: 0 15px 25px -10px rgba(0, 0, 0, 0.85);
    }

    .hueta{
        position:absolute;
        margin:0;
        margin-bottom: 5px;
        bottom: 0;
        left:0;
        width:100%;
    }
</style>


@code{

    [Parameter]
    public string ImageSrc {get;set;}

    [Parameter]
    public bool isLightCone {get;set;}
    [Parameter]
    public UserBannerInfo BannerInfo {get;set;}

    private int Height => 500 * (isLightCone? 2 : 1);


    DialogOptions fullScreen = new DialogOptions() { FullScreen = true, CloseButton = true };

    public async Task OpenHistory(){
        var parameters = new DialogParameters<WarpHistoryDialog> {{ x => x.BannerInfo, BannerInfo }, {x=>x.Test, ImageSrc} };
        var dialog = await Dialog.ShowAsync<WarpHistoryDialog>("История прыжков", parameters, fullScreen);
    }


}