<MudCard>
    <div class="relative">
        <MudCardMedia Image="/Images/characters-full/sparkle.png" Height="300" Style="background-position: 0 30%;" />
        <MudButton Style="position:absolute; right:10px; top:50%">TEST</MudButton>
    </div>
    <MudCardContent>
        <MudText Typo="Typo.h5">Old Paint</MudText>
        <MudText Typo="Typo.body2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </MudText>
        <MudText Typo="Typo.body2">This photo was taken in a small village in Istra Croatia.</MudText>
    </MudCardContent>
    <MudCardActions>
        <MudButton Variant="Variant.Text" Color="MudBlazor.Color.Primary">Share</MudButton>
        <MudButton Variant="Variant.Text" Color="MudBlazor.Color.Primary">Learn More</MudButton>
    </MudCardActions>
</MudCard>



@code{

}