/* /Components/PatchCalendar.razor.rz.scp.css */
.day[b-fdt5iiks5l]{
    display: block;
    padding:1rem;
    border: 1px solid black;
}

.day-disabled[b-fdt5iiks5l]{
    background-color: gray;
}

.calendar-container[b-fdt5iiks5l]{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

section.mud-carousel[b-fdt5iiks5l]{
    background-image: url(Images/1_6_Crown_of_the_Mundane_and_Divine.webp);
}

.selected-patch-info[b-fdt5iiks5l]{
    bottom: 30px;
}
