@page "/"


<PageTitleWithEmote PageTitle="Stellar Jade Manager" ImgPath="images/emotes/Kafka 1.png"></PageTitleWithEmote>
<MudText Typo="Typo.h2">Добро пожаловать!</MudText>
<MudText Typo="Typo.h5" Class="my-5">Попробуйте эти инструменты</MudText>
<div class="d-flex flex-wrap justify-center align-center gap-10" style="height:400px;width:80%">
    <MudCard>
        <MudCardMedia Image="images/background.webp" Height="200" />
        <MudCardContent>
            <MudText Typo="Typo.h5">Калькулятор</MudText>
            <MudText Typo="Typo.subtitle2">Подсчитайте чистый доход звездного нефрита.</MudText>
            <MudText Typo="Typo.subtitle2">Спрогнозируйте шансы получить легендарного персонажа</MudText>
        </MudCardContent>
        <MudCardActions>
            <MudNavLink Href="/calculator">Перейти</MudNavLink>
        </MudCardActions>
    </MudCard>
    <MudCard>
        <MudCardMedia Image="images/2_2.webp" Height="200"/>
        <MudCardContent>
            <MudText Typo="Typo.h5">История круток</MudText>
            <MudText Typo="Typo.subtitle2">Импортируйте свою историю круток.</MudText>
            <MudText Typo="Typo.subtitle2">Посмотрите её статистику</MudText>
        </MudCardContent>
        <MudCardActions>
            <MudNavLink Href="/calculator">Перейти</MudNavLink>
        </MudCardActions>
    </MudCard>
    
</div>

@*

<div class="d-flex flex-wrap justify-center align-center gap-10" style="height:400px;width:80%">

<div  style="height:100%">
<MudImage
    Src="images/2_2.webp"
    ObjectFit="@ObjectFit.Cover"
    Style="max-height: 100%;width: auto;aspect-ratio:2;"
    Fluid
    Class="rounded-lg" />
</div>

<MudCarousel  Style="height:100%;aspect-ratio:1" ShowArrows="false" ShowBullets="true" EnableSwipeGesture="true" AutoCycle="true" TData="object">
    <MudCarouselItem Transition="Transition.Fade">
        <MudImage Src="images/characters-full/1315.png"
            ObjectFit="@ObjectFit.Cover"
            Style="aspect-ratio:1;"
            Class="rounded-lg"
            Fluid

        />
    </MudCarouselItem>
    <MudCarouselItem Transition="Transition.Fade">
        <MudImage Src="images/characters-full/1309.png"
            ObjectFit="@ObjectFit.Cover"
            Style="aspect-ratio:1;"
            Class="rounded-lg"
            Fluid
        />
    </MudCarouselItem>
</MudCarousel>

</div>
*@

<style>
    .banner-image{
        background-repeat:no-repeat;
        background-size: 200% 200%;
        background-position: 50% 35%;
    }
    .banner-1{
        background-image: url("images/characters-full/1315.png");
    }

    .banner-2 {
        background-image: url("images/characters-full/1309.png");
    }
</style>

@code{}
