@page "/"
<MudContainer MaxWidth="MaxWidth.Small" Class="d-flex justify-center mb-8">
    <h1>Patch Calendar</h1>
</MudContainer>

<PatchCalendar currentGems="@test" OnSelectedDateChanged="@SetStellarJades">
</PatchCalendar>
 
 @* <p>@hren</p> *@

 @code{

    public int test = 3200;
    public int hren = 0;
    public void SetStellarJades(int amount){
        hren = amount;
    }
 }