<div class="d-flex align-center justify-start flex-wrap gap-4" style="width:80%">
    <div style="height:128px">
        <MudImage Src="@ImgPath"
                  ObjectFit="@ObjectFit.Cover"
                  Style="max-height: 100%;width: auto;aspect-ratio:1;"
                  Fluid
                  Class="rounded-lg" />
    </div>
    <MudText Class="page-title-header" Typo="@Typo.h3">@PageTitle</MudText>
</div>
<MudDivider Class="mb-16" Style="width:80%" />


<style>
    .page-title-header
    {
        text-align:center;
        font-weight: 700;
        color: transparent;
        background-image: linear-gradient(
            /*90deg, var(--mud-palette-primary), var(--legendary-rarity-color), var(--epic-rarity-color)*/
            90deg,
            hsl(38deg 100% 50%) 0%,
            hsl(37deg 100% 54%) 7%,
            hsl(37deg 99% 56%) 12%,
            hsl(37deg 99% 58%) 17%,
            hsl(37deg 98% 60%) 22%,
            hsl(37deg 98% 62%) 27%,
            hsl(37deg 97% 63%) 33%,
            hsl(38deg 97% 65%) 39%,
            hsl(38deg 96% 66%) 46%,
            hsl(38deg 96% 68%) 55%,
            hsl(39deg 95% 69%) 66%,
            hsl(39deg 95% 71%) 80%, 
            hsl(40deg 94% 72%) 100%
        );
        -webkit-background-clip: text;
        background-clip: text;
    }
</style>


@code {
    [Parameter]
    public string PageTitle { get; set; }
    [Parameter]
    public string ImgPath { get; set; }
}
